body {
    background-color: #282031;
    color: white;
    margin: 0px;
    font-family: 'Unbounded', sans-serif;
    overflow-x: hidden;
}

#hello {

    text-align: center;
    font-size: clamp(3rem, 8vw, 8rem);

    color: white;

}

.fancy {

    font-family: "Lobster", cursive;
    color: #a00e0e;

}

#social-media {
    height: 50vh;
    display: flex;
    align-items: center;
}

.media {
    text-decoration: none;

    opacity: 0.6;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Helvatica", sans-serif;

    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    transition: opacity 400ms;
}

.media:hover {
    opacity: 1;
    transform: rotate(-360deg);
    /* Safari */-webkit-transform: rotate(-360deg);/* Firefox */-moz-transform: rotate(-360deg);/* IE */-ms-transform: rotate(-360deg);/* Opera */-o-transform: rotate(-360deg);
    transition: 600ms;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.blue {
    background: #3c31dd;
}

.red {
    background: #dd3f31;
}

.pink {
    background: #64052b;
}

.black {
    background: #0f0f10;
}

/* 1 */

.custom-shape-divider-top-1674438108 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1674438108 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 35px;
}

.custom-shape-divider-top-1674438108 .shape-fill {
    fill: #282031;
}

/* 2 */

.curve {

    position: absolute;
    height: 255px;
    width: 100%;
    bottom: 0px;

}

.curve::before {

    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(84%, 60%);

}

.curve::after {

    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #0f0f10;
    transform: translate(-5%, 40%);
    z-index: 1;

}

/* 3 */

.custom-shape-divider-bottom-1674437877 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674437877 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.custom-shape-divider-bottom-1674437877 .shape-fill {
    fill: #64052b;
}

/* 4 */

.custom-shape-divider-bottom-1674437390 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674437390 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 230px;
}

.custom-shape-divider-bottom-1674437390 .shape-fill {
    fill: #DD3F31;
}



/* bubble */

.bubble::after {

    content: "";
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #dd3f31;
    z-index: -1;

}

ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}

ul.cloud a {
    color: #a33;
    display: block;
    font-size: 1.5rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
}

ul.cloud a[data-weight="1"] { --size: 2; }
ul.cloud a[data-weight="2"] { --size: 4; }
ul.cloud a[data-weight="3"] { --size: 6; }
ul.cloud a[data-weight="4"] { --size: 8; }
ul.cloud a[data-weight="5"] { --size: 10; }
ul.cloud a[data-weight="6"] { --size: 12; }

ul.cloud a {
  --size: 4;
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
}
